<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>World Refugee Crisis</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="styles.css">
  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
</head>

<body class = "page-style">      
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-3">World Refugee Crisis</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, qui. Modi, ipsum dolorem est non officia consequatur, quasi dignissimos itaque repellendus nesciunt sed laudantium? Ipsum odio ipsa excepturi cumque. Suscipit?</p>
        </div>        
</div> 
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Placeholder for Map</h2>
            <div id="map" style="height: 400px"></div>
            <!-- <img src="http://www.freeworldmaps.net/ocean/ocean-maps.jpg" alt="placeholder"> -->
        </div>    
        <div class="col-md-3 btn-group">
            <div class="row">
                <div class="col-md-12">
                    <h4>Placeholder for dropdown and table</h4>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose Country <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu">
<!-- populates from database  -->
                        </ul>
                    </div> 
                    <div class="col-md-12">      
                        <table class="table">
                            <!-- <tr>
                                <td></td> 
                                <td></td>                           
                            </tr> -->
                            <tr>
                                <td>Population</td>
                                <td>##</td>
                            </tr>
                            <tr>
                                <td>GDP</td>
                                <td>##</td>
                            </tr>
                            <tr>
                                <td>Refugees Originated</td>
                                <td>##</td>
                            </tr>
                            <tr>
                                <td>Refugees Received</td>
                                <td>##</td>
                            </tr>
                            <tr>
                                <td>Conflict Related Deaths</td>
                                <td>##</td>
                            </tr>
                        </table> 
                </div>    
            </div>           

        </div>    
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Placeholder for Chart</h1>
            <img src="https://www.cdc.gov/wcms/3.0/cdcwp/charts/images/line_visualization.png" alt="placeholder">
        </div>
    </div>
</div>
<!-- <script src="link from flask" type="text/javascript"></script> -->
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script>
  </script>
</body>

</html>