<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Work </title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <!-- d3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- leaflet  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    

    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
        body {
            background-color: unset;
        }

        th,
        td {
            text-align: left;
            color: black;
            padding: 8px;
        }

        select {
            padding: 8px;
        }

        tbody>tr:nth-child(even) {
            background-color: #f2f2f2 !important
        }

        tbody>tr:nth-child(odd) {
            background-color: #fff !important
        }

        .chartist {
            width: 72%;
            height: 80%;
            left: 20.2%;
            top: 12%;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>
                WORLD REFUGEES DATA
            </h1>
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        Select a Country
                    </div>
                </div>
                <div class="refugee">
                    <select class="row form-control" id="selDataset"></select>
                    <table class="table table-bordered">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        The Map2
                    </div>
                </div>
                <div class="refugee">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        The Plot Chart
                    </div>
                </div>
                <div class="refugee">
                    <div id="plotChart"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        The Pie Chart
                    </div>
                </div>
                <div class="refugee">
                    <div id="plotPie"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        More Charts
                    </div>
                </div>
                <div class="refugee">
                    <div id="plotBar"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/frappe-charts@0.0.8/dist/frappe-charts.min.iife.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>

</html>